<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>MongoDB PEER</title>
    <script src="./vendors/angular.min.js" charset="utf-8"></script>
    <script src="./scripts/script.js" charset="utf-8"></script>
  </head>
  <body ng-controller="assController">
      <form class="assignmentForm" action="/assignments" method="post" >
        <input type="text" id="assignmentNumIn" name="name" value="" ng-model="assignmentNumIn" placeholder="Enter Assignment Number">
        <input type="text" id="studentNameIn" name="name" value="" ng-model="studentNameIn" placeholder="Enter Student Name">
        <input type="text" id="scoreIn" name="name" value="" ng-model="scoreIn" placeholder="Enter Score">
        <button type="button" name="button" ng-click="getUserInput()" id="submitButton">SUBMIT</button>
        <button type="button" name="button" ng-click="refreshAssignments()" id="submitButton">GET</button>
      </form>
      <table >
        <tr>
          <th>Name</th>
          <th>Assignment Number</th>
          <th>Score</th>
          <th>Date</th>
        </tr>
        <tr ng-repeat="record in allTheRecords">
          <td>{{record.student_name }}</td>
          <td>{{record.assignment_number }}</td>
          <td>{{record.score}}</td>
          <td>{{record.date_completed|date}}</td>
        </tr>
      </table>
  </body>
</html>
